<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ballstr</title>
<link rel="stylesheet" href="../public/styles/styles.css " integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css" />