  <div class="container jumbotron">
    <h1>dogstr</h1>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </div>
  <div class="container main d-lg-flex">
    <div class="container map-container col-lg-6"></div>
    <div class="container form-container col-lg-6">
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label
            >
            <select class="form-control" id="distance">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <br />
            <select class="form-control" id="popularity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option> </select
            ><br />
            <select class="form-control" id="rating">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option> </select
            ><br />
            <button id="filter" class="btn btn-primary" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom-section"></div>
    